In [3]:
import random

In [4]:
students = ["Alvaro", "Mateusz", "Jason", "Verena",
            "Anzal","Maurice", "Eric", "Masaya",
            "Shun", "Laura", "Tasmin", "JJ",
            "Juan", "Jonatan", "Frederic", "Vseslav",
            "Dahyun", "Veysel", "Sofia"]

In [5]:
groups = []
c = 0
for i in range(1, 5):
    if i < 2:
        gr_size = 4
    else:
        gr_size = 5
    
    g = []
    for _ in range(gr_size):
        s = random.choice(students)
        g.append(s)
        students.remove(s)
    groups.append(g)

In [6]:
for i, group in enumerate(groups):
    char = "\'"
    print(f'Group {i+1}: {str(group)[1:-1].replace(char,"")}')
print(f"Did we miss so? {students}")

Group 1: Frederic, Eric, Tasmin, Veysel
Group 2: Masaya, Maurice, Alvaro, Anzal, Vseslav
Group 3: Sofia, Verena, Mateusz, Jason, Juan
Group 4: Dahyun, Shun, JJ, Laura, Jonatan
Did we miss so? []

---
---
---

# Quickest pandas starter:
Pandas is the most used data transformation packages in python.
You should use it as a starting point.

In [7]:
import pandas as pd

## Read a CSV file

In [12]:
# check what is available in directory
# `dir` is the command for windows
# try "!ls data\" for Mac or Linux
!ls data\

stock_markets     stock_markets.zip

In [14]:
# read a csv file with pandas
df = pd.read_csv("data/symbols_valid_meta.csv")

In [15]:
# print first lines
df.head()

,Nasdaq Traded,Symbol,Security Name,Listing Exchange,Market Category,ETF,Round Lot Size,Test Issue,Financial Status,CQS Symbol,NASDAQ Symbol,NextShares
0,Y,A,"Agilent Technologies, Inc. Common Stock",N,,N,100.0,N,NaN,A,A,N
1,Y,AA,Alcoa Corporation Common Stock,N,,N,100.0,N,NaN,AA,AA,N
2,Y,AAAU,Perth Mint Physical Gold ETF,P,,Y,100.0,N,NaN,AAAU,AAAU,N
3,Y,AACG,ATA Creativity Global - American Depositary Sh...,Q,G,N,100.0,N,N,NaN,AACG,N
4,Y,AADR,AdvisorShares Dorsey Wright ADR ETF,P,,Y,100.0,N,NaN,AADR,AADR,N

In [16]:
# dimensions of the dataset
# 8049 rows (observations) and 12 columns (variables)
df.shape

(8049, 12)

In [17]:
# select a column
df.Symbol.head()

0       A
1      AA
2    AAAU
3    AACG
4    AADR
Name: Symbol, dtype: object

In [18]:
# or 
df["Symbol"].head()  # is mandatory when column name contains a space

0       A
1      AA
2    AAAU
3    AACG
4    AADR
Name: Symbol, dtype: object

In [19]:
# important datastructures in pandas
print(type(asset))
print(type(asset.Close))

NameError: name 'asset' is not defined

In [20]:
# basic filtering
# all rows where the ETF column
# is equal to "Y"
# adding df.head to just print the first two lines
df[df.ETF == 'Y'].head(2)

,Nasdaq Traded,Symbol,Security Name,Listing Exchange,Market Category,ETF,Round Lot Size,Test Issue,Financial Status,CQS Symbol,NASDAQ Symbol,NextShares
2,Y,AAAU,Perth Mint Physical Gold ETF,P,,Y,100.0,N,NaN,AAAU,AAAU,N
4,Y,AADR,AdvisorShares Dorsey Wright ADR ETF,P,,Y,100.0,N,NaN,AADR,AADR,N

In [21]:
df.ETF == "Y"  # full pd.Series if bool values

0       False
1       False
2        True
3       False
4        True
        ...
8044    False
8045    False
8046    False
8047    False
8048    False
Name: ETF, Length: 8049, dtype: bool

In [22]:
# we can filter for more conditions
# let's select rows where 'Test Issue' is equal 'N'.
# in Pandas you combine condition with '&' as you have two pd.Series that have to be evaluated
# at the same time

selector = (df.ETF == "Y") & (df["Test Issue"] == "N")

In [23]:
# bool values with same length as the dataframe
selector.head(5)

0    False
1    False
2     True
3    False
4     True
dtype: bool

In [24]:
selector.shape

(8049,)

In [25]:
df[selector].head(2)

,Nasdaq Traded,Symbol,Security Name,Listing Exchange,Market Category,ETF,Round Lot Size,Test Issue,Financial Status,CQS Symbol,NASDAQ Symbol,NextShares
2,Y,AAAU,Perth Mint Physical Gold ETF,P,,Y,100.0,N,NaN,AAAU,AAAU,N
4,Y,AADR,AdvisorShares Dorsey Wright ADR ETF,P,,Y,100.0,N,NaN,AADR,AADR,N

This means a DataFrame consists of columns that are in turn pandas Series',

You can check
`pd.Series?`
or `pd.DataFrame?` to see what is all available for DataFrames and Series'.

In [26]:
# pd.DataFrame?
# pd.Series?

### Cheat sheet
- [Pandas cheat sheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)

# Start data exploration

## Lookup for specific assets for the example portfolio

In [27]:
# print last 5 lines of the dataset
df.tail(5)

,Nasdaq Traded,Symbol,Security Name,Listing Exchange,Market Category,ETF,Round Lot Size,Test Issue,Financial Status,CQS Symbol,NASDAQ Symbol,NextShares
8044,Y,ZUO,"Zuora, Inc. Class A Common Stock",N,,N,100.0,N,NaN,ZUO,ZUO,N
8045,Y,ZVO,Zovio Inc. - Common Stock,Q,Q,N,100.0,N,N,NaN,ZVO,N
8046,Y,ZYME,Zymeworks Inc. Common Shares,N,,N,100.0,N,NaN,ZYME,ZYME,N
8047,Y,ZYNE,"Zynerba Pharmaceuticals, Inc. - Common Stock",Q,G,N,100.0,N,N,NaN,ZYNE,N
8048,Y,ZYXI,"Zynex, Inc. - Common Stock",Q,S,N,100.0,N,N,NaN,ZYXI,N

In [28]:
# build example portfolio
# random portfolio
# df[df.ETF == 'N'] selects all lines that not ETFs
# df.sample picks a sample of 5
df[df.ETF == 'N'].sample(5)

# well let's use some more commonly known companies...

,Nasdaq Traded,Symbol,Security Name,Listing Exchange,Market Category,ETF,Round Lot Size,Test Issue,Financial Status,CQS Symbol,NASDAQ Symbol,NextShares
6795,Y,STAA,STAAR Surgical Company - Common Stock,Q,G,N,100.0,N,N,NaN,STAA,N
5169,Y,NVR,"NVR, Inc. Common Stock",N,,N,10.0,N,NaN,NVR,NVR,N
111,Y,AEG,AEGON N.V. Common Stock,N,,N,100.0,N,NaN,AEG,AEG,N
120,Y,AER,AerCap Holdings N.V. Ordinary Shares,N,,N,100.0,N,NaN,AER,AER,N
5120,Y,NTLA,"Intellia Therapeutics, Inc. - Common Stock",Q,G,N,100.0,N,N,NaN,NTLA,N

In [29]:
# build specific portfolio
# simple lookups:
# if the column name has a space sign, you need to use df[column_name] to select a column
# df.apply acts as the `map` from plain python: you can execute a function on a column (default)
# or on a row ("axis" argument)
# You can always ask `df.apply?`
# be cause I do not specific symbols or Company names
# I need to look for a common nane in the Security Name string --> lambda expression

# Get 5 Symbols for the test portfolio
line_toyota = df[df["Security Name"].apply(lambda name_str: "Toyota" in name_str)]

# select the spefic column we are looking for
symbol_toyota = line_toyota["Symbol"].values[0]

In [30]:
# lookup google
# combine previous two lines
line_ggle = df[df["Security Name"].apply(lambda name_str: "Alphabet" in name_str)]

In [31]:
# didn't work like the other select, because there are more options:
# we chose Class A stock to get a vote
line_ggle

,Nasdaq Traded,Symbol,Security Name,Listing Exchange,Market Category,ETF,Round Lot Size,Test Issue,Financial Status,CQS Symbol,NASDAQ Symbol,NextShares
3102,Y,GOOG,Alphabet Inc. - Class C Capital Stock,Q,Q,N,100.0,N,N,NaN,GOOG,N
3103,Y,GOOGL,Alphabet Inc. - Class A Common Stock,Q,Q,N,100.0,N,N,NaN,GOOGL,N

In [32]:
symbol_ggl = line_ggle["Symbol"].values[1]

In [33]:
symbol_tsm = df[df["Security Name"].apply(lambda name_str: "Taiwan Semi" in name_str)]["Symbol"].values[0]

In [34]:
symbol_lg = df[df["Security Name"].apply(lambda name_str: "LG Display" in name_str)]["Symbol"].values[0]

In [35]:
symbol_pp = df[df["Security Name"].apply(lambda name_str: "Plug Power" in name_str)]["Symbol"].values[0]

In [36]:
symbol_ed = df[df["Security Name"].apply(lambda name_str: "Consolidated Edison" in name_str)]["Symbol"].values[0]

In [37]:
# bit more complicated looksups
# looking for ETF options
# looking for every asset with "MSCI" and "iShares" in the "Security Name" columnm and is an ETF
etf = df[(df["Security Name"].apply(lambda x: "Clean Energy" in x and "iShares" in x)) & (df["ETF"] == "Y")]

In [38]:
etf

,Nasdaq Traded,Symbol,Security Name,Listing Exchange,Market Category,ETF,Round Lot Size,Test Issue,Financial Status,CQS Symbol,NASDAQ Symbol,NextShares
3583,Y,ICLN,iShares S&P Global Clean Energy Index Fund,Q,G,Y,100.0,N,N,NaN,ICLN,N

In [39]:
symbol_etf = etf["Symbol"].values[0]

In [40]:
symbol_etf

'ICLN'

In [41]:
# possible file format for configuration?
import json

In [42]:
portfolio = {
    "symbols": [symbol_ggl, symbol_toyota, symbol_tsm, symbol_lg, symbol_pp, symbol_ed, symbol_etf]
}

In [43]:
json.dumps(portfolio)

'{"symbols": ["GOOGL", "TM", "TSM", "LPL", "PLUG", "ED", "ICLN"]}'

In [44]:
# create file:
# open a file from disk
with open("portfolio.json", "w") as f:
    f.write(json.dumps(portfolio))

# at this point the file is closed again to prevent any corruption of data

In [45]:
pd.read_csv("data/etfs/ICLN.csv").head()

         Date       Open       High        Low      Close  Adj Close  Volume
0  2008-06-25  52.250000  52.980000  52.250000  52.770000  39.720451    2100
1  2008-06-26  60.000000  60.000000  50.990002  51.060001  38.433311    9800
2  2008-06-27  50.790001  50.790001  50.090000  50.160000  37.755878    7700
3  2008-06-30  50.770000  50.959999  50.250000  50.250000  37.823627   17100
4  2008-07-01  50.000000  50.000000  48.060001  48.799999  36.732201   14900

## See what data is available

In [46]:
asset = pd.read_csv("data/stocks/TSM.csv")

In [47]:
# see what data is available for TSM
asset.head()

         Date      Open      High       Low     Close  Adj Close    Volume
0  1997-10-09  5.646040  6.562691  5.646040  6.323565   3.577769  10201100
1  1997-10-10  7.014374  7.040944  6.363419  6.615830   3.743128  10668500
2  1997-10-13  6.629115  6.629115  6.443128  6.469697   3.660448   3043300
3  1997-10-14  6.416558  6.429843  6.031299  6.204001   3.510121   2549200
4  1997-10-15  5.818742  6.044584  5.805458  6.031299   3.412410   3166400

### Data structure per asset:
The date for every symbol is saved in CSV format with common fields:

  - **Date**: specifies trading date
  - **Open**: opening price
  - **High**: maximum price during the day
  - **Low**: minimum price during the day
  - **Close**: close price adjusted for splits
  - **Adj** Close: adjusted close price adjusted for both dividends and splits.
  - **Volume**: the number of shares that changed hands during a given day