In [1]:
import pandas as pd                        # Import pandas

In [2]:
data = pd.DataFrame({'x1':range(9, 16),    # Create pandas DataFrame
                     'x2':[2, 3, 6, 2, 3, 1, 8],
                     'x3':['a', 'b', 'c', 'd', 'e', 'f', 'g'],
                     'x4':range(27, 20, - 1)})
print(data)                                # Print pandas DataFrame

   x1  x2 x3  x4
0   9   2  a  27
1  10   3  b  26
2  11   6  c  25
3  12   2  d  24
4  13   3  e  23
5  14   1  f  22
6  15   8  g  21

In [3]:
data.to_csv('data_no_header.csv',          # Export pandas DataFrame as CSV
            header = False)

In [4]:
import os                                             # Load os

In [ ]:
os.chdir('C:/Users/Joach/Desktop/my directory')       # Set working directory

In [ ]:
data.to_csv('data1.csv')                              # Export pandas DataFrame

In [ ]:
data.to_csv('data2.csv',                              # Export pandas DataFrame
            sep = ";")

In [ ]:
data.to_csv('data3.csv',                              # Export pandas DataFrame
            sep = ";",
            index = False)

In [ ]:
new_col = ['foo', 'bar', 'bar', 'foo', 'bar', 'foo']  # Create list object
print(new_col)                                        # Print list object
# ['foo', 'bar', 'bar', 'foo', 'bar', 'foo']

In [ ]:
data4 = pd.read_csv('data3.csv',                      # Read CSV file
                    sep = ";")

In [ ]:
data4['new_col'] = new_col                            # Add list as new column

In [ ]:
data4.to_csv('data4.csv',                             # Export pandas DataFrame
             sep = ";",
             index = False)

In [5]:
data1 = pd.DataFrame({'x1':range(21, 25),      # Create first pandas DataFrame
                      'x2':['a', 'b', 'c', 'd'],
                      'x3':range(25, 21, - 1)})
print(data1)

   x1 x2  x3
0  21  a  25
1  22  b  24
2  23  c  23
3  24  d  22

In [6]:
data2 = pd.DataFrame({'y1':range(201, 206),    # Create second pandas DataFrame
                      'y2':range(303, 308)})
print(data2)                                   # Print second pandas DataFrame

    y1   y2
0  201  303
1  202  304
2  203  305
3  204  306
4  205  307

In [7]:
 

data3 = pd.DataFrame({'z1':range(201, 207),    # Create third pandas DataFrame
                      'z2':range(3, 9),
                      'z3':['a', 'c', 'a', 'b', 'd', 'd'],
                      'z4':range(1, 7),
                      'z5':range(7, 1, - 1)})
print(data3)                                   # Print third pandas DataFrame

    z1  z2 z3  z4  z5
0  201   3  a   1   7
1  202   4  c   2   6
2  203   5  a   3   5
3  204   6  b   4   4
4  205   7  d   5   3
5  206   8  d   6   2

In [8]:
data_all = {                                   # Create list of all DataFrames
     'data1': data1,
     'data2': data2,
     'data3': data3
 }
print(data_all)

{'data1':    x1 x2  x3
0  21  a  25
1  22  b  24
2  23  c  23
3  24  d  22, 'data2':     y1   y2
0  201  303
1  202  304
2  203  305
3  204  306
4  205  307, 'data3':     z1  z2 z3  z4  z5
0  201   3  a   1   7
1  202   4  c   2   6
2  203   5  a   3   5
3  204   6  b   4   4
4  205   7  d   5   3
5  206   8  d   6   2}

In [9]:
for i in range(1, len(data_all) + 1):          # Write each DataFrame to separate CSV
    data_i = data_all['data' + str(i)]
    data_i.to_csv('data' + str(i) + '.csv')