In [1]:
my_list = [1, 5, 3, 9, 5, 8, 3, 1, 1]           # Create example list
print(my_list)                                  # Print example list
# [1, 5, 3, 9, 5, 8, 3, 1, 1]

[1, 5, 3, 9, 5, 8, 3, 1, 1]

In [2]:
import numpy as np                              # Load NumPy

In [3]:
print(np.var(my_list))                          # Get var of list

8.0

In [4]:
import pandas as pd                             # Import pandas library in Python

In [5]:
data = pd.DataFrame({'x1':range(32, 1, - 2),    # Create pandas DataFrame
                     'x2':[5, 2, 7, 3, 1, 4, 3, 4, 4, 2, 3, 3, 1, 1, 7, 5],
                     'x3':range(100, 116),
                     'group':['A', 'A', 'B', 'C', 'B', 'C', 'C', 'A', 'C', 'A', 'C', 'A', 'B', 'B', 'B', 'A']})
print(data)                                     # Print pandas DataFrame

    x1  x2   x3 group
0   32   5  100     A
1   30   2  101     A
2   28   7  102     B
3   26   3  103     C
4   24   1  104     B
5   22   4  105     C
6   20   3  106     C
7   18   4  107     A
8   16   4  108     C
9   14   2  109     A
10  12   3  110     C
11  10   3  111     A
12   8   1  112     B
13   6   1  113     B
14   4   7  114     B
15   2   5  115     A

In [6]:
print(data['x1'].var())

90.66666666666667

In [7]:
print(data.var())                               # Get variance of all columns

x1    90.666667
x2     3.595833
x3    22.666667
dtype: float64

/var/folders/2c/19wbw1_d4pv7bl31_4pf2_xm0000gn/T/ipykernel_18928/2037073927.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(data.var())                               # Get variance of all columns

In [8]:
print(data.var(axis = 1))                       # Get variance of rows

0     2396.333333
1     2604.333333
2     2490.333333
3     2743.000000
4     2923.000000
5     2902.333333
6     3049.000000
7     3121.000000
8     3237.333333
9     3436.333333
10    3522.333333
11    3652.333333
12    3864.333333
13    4003.000000
14    3926.333333
15    4146.333333
dtype: float64

/var/folders/2c/19wbw1_d4pv7bl31_4pf2_xm0000gn/T/ipykernel_18928/1447325686.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(data.var(axis = 1))                       # Get variance of rows

In [9]:
print(data.groupby('group').var())              # Get variance by group

               x1    x2         x3
group
A      135.066667   1.9  33.766667
B      124.000000  10.8  31.000000
C       29.200000   0.3   7.300000