In [ ]:
import random

In [ ]:
students = ["Alvaro", "Mateusz", "Jason", "Verena",
            "Anzal","Maurice", "Eric", "Masaya",
            "Shun", "Laura", "Tasmin", "JJ",
            "Juan", "Jonatan", "Frederic", "Vseslav",
            "Dahyun", "Veysel", "Sofia"]

In [ ]:
groups = []
c = 0
for i in range(1, 5):
    if i < 2:
        gr_size = 4
    else:
        gr_size = 5
    
    g = []
    for _ in range(gr_size):
        s = random.choice(students)
        g.append(s)
        students.remove(s)
    groups.append(g)

In [ ]:
for i, group in enumerate(groups):
    char = "\'"
    print(f'Group {i+1}: {str(group)[1:-1].replace(char,"")}')
print(f"Did we miss so? {students}")

---
---
---

# Quickest pandas starter:
Pandas is the most used data transformation packages in python.
You should use it as a starting point.

In [ ]:
import pandas as pd

## Read a CSV file

In [ ]:
# check what is available in directory
# `dir` is the command for windows
# try "!ls data\" for Mac or Linux
!dir data\

In [ ]:
# read a csv file with pandas
df = pd.read_csv("data/symbols_valid_meta.csv")

In [ ]:
# print first lines
df.head()

In [ ]:
# dimensions of the dataset
# 8049 rows (observations) and 12 columns (variables)
df.shape

In [ ]:
# select a column
df.Symbol.head()

In [ ]:
# or 
df["Symbol"].head()  # is mandatory when column name contains a space

In [ ]:
# important datastructures in pandas
print(type(asset))
print(type(asset.Close))

In [ ]:
# basic filtering
# all rows where the ETF column
# is equal to "Y"
# adding df.head to just print the first two lines
df[df.ETF == 'Y'].head(2)

In [ ]:
df.ETF == "Y"  # full pd.Series if bool values

In [ ]:
# we can filter for more conditions
# let's select rows where 'Test Issue' is equal 'N'.
# in Pandas you combine condition with '&' as you have two pd.Series that have to be evaluated
# at the same time

selector = (df.ETF == "Y") & (df["Test Issue"] == "N")

In [ ]:
# bool values with same length as the dataframe
selector.head(5)

In [ ]:
selector.shape

In [ ]:
df[selector].head(2)

This means a DataFrame consists of columns that are in turn pandas Series',

You can check
`pd.Series?`
or `pd.DataFrame?` to see what is all available for DataFrames and Series'.

In [ ]:
# pd.DataFrame?
# pd.Series?

### Cheat sheet
- [Pandas cheat sheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)

# Start data exploration

## Lookup for specific assets for the example portfolio

In [ ]:
# print last 5 lines of the dataset
df.tail(5)

In [ ]:
# build example portfolio
# random portfolio
# df[df.ETF == 'N'] selects all lines that not ETFs
# df.sample picks a sample of 5
df[df.ETF == 'N'].sample(5)

# well let's use some more commonly known companies...

In [ ]:
# build specific portfolio
# simple lookups:
# if the column name has a space sign, you need to use df[column_name] to select a column
# df.apply acts as the `map` from plain python: you can execute a function on a column (default)
# or on a row ("axis" argument)
# You can always ask `df.apply?`
# be cause I do not specific symbols or Company names
# I need to look for a common nane in the Security Name string --> lambda expression

# Get 5 Symbols for the test portfolio
line_toyota = df[df["Security Name"].apply(lambda name_str: "Toyota" in name_str)]

# select the spefic column we are looking for
symbol_toyota = line_toyota["Symbol"].values[0]

In [ ]:
# lookup google
# combine previous two lines
line_ggle = df[df["Security Name"].apply(lambda name_str: "Alphabet" in name_str)]

In [ ]:
# didn't work like the other select, because there are more options:
# we chose Class A stock to get a vote
line_ggle

In [ ]:
symbol_ggl = line_ggle["Symbol"].values[1]

In [ ]:
symbol_tsm = df[df["Security Name"].apply(lambda name_str: "Taiwan Semi" in name_str)]["Symbol"].values[0]

In [ ]:
symbol_lg = df[df["Security Name"].apply(lambda name_str: "LG Display" in name_str)]["Symbol"].values[0]

In [ ]:
symbol_pp = df[df["Security Name"].apply(lambda name_str: "Plug Power" in name_str)]["Symbol"].values[0]

In [ ]:
symbol_ed = df[df["Security Name"].apply(lambda name_str: "Consolidated Edison" in name_str)]["Symbol"].values[0]

In [ ]:
# bit more complicated looksups
# looking for ETF options
# looking for every asset with "MSCI" and "iShares" in the "Security Name" columnm and is an ETF
etf = df[(df["Security Name"].apply(lambda x: "Clean Energy" in x and "iShares" in x)) & (df["ETF"] == "Y")]

In [ ]:
etf

In [ ]:
symbol_etf = etf["Symbol"].values[0]

In [ ]:
symbol_etf

In [ ]:
# possible file format for configuration?
import json

In [ ]:
portfolio = {
    "symbols": [symbol_ggl, symbol_toyota, symbol_tsm, symbol_lg, symbol_pp, symbol_ed, symbol_etf]
}

In [ ]:
json.dumps(portfolio)

In [ ]:
# create file:
# open a file from disk
with open("portfolio.json", "w") as f:
    f.write(json.dumps(portfolio))

# at this point the file is closed again to prevent any corruption of data

In [ ]:
pd.read_csv("data/etfs/ICLN.csv").head()

## See what data is available

In [ ]:
asset = pd.read_csv("data/stocks/TSM.csv")

In [ ]:
# see what data is available for TSM
asset.head()

### Data structure per asset:
The date for every symbol is saved in CSV format with common fields:

  - **Date**: specifies trading date
  - **Open**: opening price
  - **High**: maximum price during the day
  - **Low**: minimum price during the day
  - **Close**: close price adjusted for splits
  - **Adj** Close: adjusted close price adjusted for both dividends and splits.
  - **Volume**: the number of shares that changed hands during a given day