https://statisticsglobe.com/add-empty-column-pandas-dataframe-python

__Add Empty Column to pandas DataFrame in Python (2 Examples)__

Add Empty Column to pandas DataFrame in Python (2 Examples)
 

In this tutorial, I’ll show how to add a new empty column to a pandas DataFrame in Python.

The tutorial will contain these content blocks:

1) Example Data & Libraries
2) Example 1: Add Empty String Column to pandas DataFrame
3) Example 2: Add NaN Column to pandas DataFrame
4) Video & Further Resources
So now the part you have been waiting for – the examples!

 

Example Data & Libraries
First, we need to load the pandas library:

import pandas as pd                       # Import pandas
We’ll use the following data as a basis for this Python programming tutorial:

data = pd.DataFrame({'x1':range(0, 7),    # Create pandas DataFrame
                     'x2':['x', 'y', 'y', 'x', 'y', 'y', 'x'],
                     'x3':range(1, 8)})
print(data)                               # Print pandas DataFrame
 

table 1 DataFrame add empty column pandas dataframe python

 

Have a look at the previous table. It shows that our example pandas DataFrame contains seven rows and three columns.

 

Example 1: Add Empty String Column to pandas DataFrame
In Example 1, I’ll demonstrate how to append a new variable containing an empty character string to an already existing pandas DataFrame in Python.

For this task, we can use the Python syntax below:

data_new1 = data.copy()                   # Duplicate pandas DataFrame
data_new1['new_col'] = ''                 # New column with empty string
print(data_new1)                          # Print new pandas DataFrame
 

table 2 DataFrame add empty column pandas dataframe python

 

After running the previous Python code the new pandas DataFrame shown in Table 2 has been created. As you can see, we have added a completely empty column called new_col to the right side of our input data set.

 

Example 2: Add NaN Column to pandas DataFrame
The following Python syntax shows how to join a new column containing NaN values to a pandas DataFrame.

To accomplish this, we can use the float function as shown below:

data_new2 = data.copy()                   # Duplicate pandas DataFrame
data_new2['new_col'] = float('NaN')       # New column with NaN
print(data_new2)                          # Print new pandas DataFrame
 

table 3 DataFrame add empty column pandas dataframe python

 

By running the previously shown Python syntax, we have created Table 3, i.e. another pandas DataFrame where we have merged an NaN column to our input DataFrame.

 

Video & Further Resources
Do you need further info on the Python programming codes of this article? Then I recommend watching the following video on my YouTube channel. In the video, I’m explaining the Python programming syntax of this article in a live session.

 

The YouTube video will be added soon.

 

Additionally, you might want to have a look at the related tutorials on https://statisticsglobe.com/. Some articles can be found below.

Convert pandas DataFrame Column to datetime in Python
Rename Column of pandas DataFrame by Index in Python
Check if Column Exists in pandas DataFrame in Python
Get pandas DataFrame Column as List in Python
Add Column from Another pandas DataFrame in Python
Introduction to the pandas Library in Python
Python Programming Tutorials
 

In summary: In this article you have learned how to combine and append a new empty column to a pandas DataFrame in Python programming. If you have additional questions and/or comments, please let me know in the comments.

In [2]:
import pandas as pd                       # Import pandas

In [3]:
data = pd.DataFrame({'x1':range(0, 7),    # Create pandas DataFrame
                     'x2':['x', 'y', 'y', 'x', 'y', 'y', 'x'],
                     'x3':range(1, 8)})
print(data)                               # Print pandas DataFrame

   x1 x2  x3
0   0  x   1
1   1  y   2
2   2  y   3
3   3  x   4
4   4  y   5
5   5  y   6
6   6  x   7

In [4]:
data_new1 = data.copy()                   # Duplicate pandas DataFrame
data_new1['new_col'] = ''                 # New column with empty string
print(data_new1)                          # Print new pandas DataFrame

   x1 x2  x3 new_col
0   0  x   1
1   1  y   2
2   2  y   3
3   3  x   4
4   4  y   5
5   5  y   6
6   6  x   7

In [7]:
data_new2 = data.copy()                   # Duplicate pandas DataFrame
data_new2['new_col'] = float('NaN')       # New column with NaN
print(data_new2)                          # Print new pandas DataFrame

   x1 x2  x3  new_col
0   0  x   1      NaN
1   1  y   2      NaN
2   2  y   3      NaN
3   3  x   4      NaN
4   4  y   5      NaN
5   5  y   6      NaN
6   6  x   7      NaN