In [1]:
import pandas as pd                        # Import pandas

In [2]:
data = pd.DataFrame({'x1':range(9, 16),    # Create pandas DataFrame
                     'x2':[2, 3, 6, 2, 3, 1, 8],
                     'x3':['a', 'b', 'c', 'd', 'e', 'f', 'g'],
                     'x4':range(27, 20, - 1)})
print(data)                                # Print pandas DataFrame

   x1  x2 x3  x4
0   9   2  a  27
1  10   3  b  26
2  11   6  c  25
3  12   2  d  24
4  13   3  e  23
5  14   1  f  22
6  15   8  g  21

In [3]:
data.to_csv('data_no_header.csv',          # Export pandas DataFrame as CSV
            header = False)

In [4]:
import os                                             # Load os

In [ ]:
os.chdir('C:/Users/Joach/Desktop/my directory')       # Set working directory

In [ ]:
data.to_csv('data1.csv')                              # Export pandas DataFrame

In [ ]:
data.to_csv('data2.csv',                              # Export pandas DataFrame
            sep = ";")

In [ ]:
data.to_csv('data3.csv',                              # Export pandas DataFrame
            sep = ";",
            index = False)

In [ ]:
new_col = ['foo', 'bar', 'bar', 'foo', 'bar', 'foo']  # Create list object
print(new_col)                                        # Print list object
# ['foo', 'bar', 'bar', 'foo', 'bar', 'foo']

In [ ]:
data4 = pd.read_csv('data3.csv',                      # Read CSV file
                    sep = ";")

In [ ]:
data4['new_col'] = new_col                            # Add list as new column

In [ ]:
data4.to_csv('data4.csv',                             # Export pandas DataFrame
             sep = ";",
             index = False)

In [5]:
data1 = pd.DataFrame({'x1':range(21, 25),      # Create first pandas DataFrame
                      'x2':['a', 'b', 'c', 'd'],
                      'x3':range(25, 21, - 1)})
print(data1)

   x1 x2  x3
0  21  a  25
1  22  b  24
2  23  c  23
3  24  d  22

In [6]:
data2 = pd.DataFrame({'y1':range(201, 206),    # Create second pandas DataFrame
                      'y2':range(303, 308)})
print(data2)                                   # Print second pandas DataFrame

    y1   y2
0  201  303
1  202  304
2  203  305
3  204  306
4  205  307

In [7]:
 

data3 = pd.DataFrame({'z1':range(201, 207),    # Create third pandas DataFrame
                      'z2':range(3, 9),
                      'z3':['a', 'c', 'a', 'b', 'd', 'd'],
                      'z4':range(1, 7),
                      'z5':range(7, 1, - 1)})
print(data3)                                   # Print third pandas DataFrame

    z1  z2 z3  z4  z5
0  201   3  a   1   7
1  202   4  c   2   6
2  203   5  a   3   5
3  204   6  b   4   4
4  205   7  d   5   3
5  206   8  d   6   2

In [8]:
data_all = {                                   # Create list of all DataFrames
     'data1': data1,
     'data2': data2,
     'data3': data3
 }
print(data_all)

{'data1':    x1 x2  x3
0  21  a  25
1  22  b  24
2  23  c  23
3  24  d  22, 'data2':     y1   y2
0  201  303
1  202  304
2  203  305
3  204  306
4  205  307, 'data3':     z1  z2 z3  z4  z5
0  201   3  a   1   7
1  202   4  c   2   6
2  203   5  a   3   5
3  204   6  b   4   4
4  205   7  d   5   3
5  206   8  d   6   2}

In [9]:
for i in range(1, len(data_all) + 1):          # Write each DataFrame to separate CSV
    data_i = data_all['data' + str(i)]
    data_i.to_csv('data' + str(i) + '.csv')

In [10]:
data = pd.DataFrame({'x1':range(11, 17),    # Create pandas DataFrame
                     'x2':['x', 'y', 'z', 'z', 'y', 'x'],
                     'x3':range(17, 11, - 1),
                     'x4':['a', 'b', 'c', 'd', 'e', 'f']})
print(data)                                 # Print pandas DataFrame

   x1 x2  x3 x4
0  11  x  17  a
1  12  y  16  b
2  13  z  15  c
3  14  z  14  d
4  15  y  13  e
5  16  x  12  f

In [13]:
data.to_csv('data.csv', index = False)      # Export pandas DataFrame to CSV

In [14]:
data_import = pd.read_csv('data.csv',       # Import CSV file
                          dtype = {'x1': int, 'x2': str, 'x3': int, 'x4': str})

In [15]:
print(data_import.dtypes)

x1     int64
x2    object
x3     int64
x4    object
dtype: object

In [16]:
data = pd.DataFrame({'x1':range(1, 8),           # Create pandas DataFrame
                     'x2':['x', 'y', 'y', 'z', 'z', 'y', 'z'],
                     'x3':range(18, 11, - 1),
                     'x4':['a', 'b', 'c', 'd', 'e', 'f', 'g']})

In [17]:
data.to_csv('data.csv',                          # Export pandas DataFrame to CSV
            index = False,
            sep = ';')

In [18]:
data_import_default = pd.read_csv('data.csv')    # Import CSV file
print(data_import_default)                       # Print imported CSV file

  x1;x2;x3;x4
0    1;x;18;a
1    2;y;17;b
2    3;y;16;c
3    4;z;15;d
4    5;z;14;e
5    6;y;13;f
6    7;z;12;g

In [19]:
data_import_sep = pd.read_csv('data.csv',        # Import CSV file
                              sep = ';')
print(data_import_sep)                           # Print imported CSV file

   x1 x2  x3 x4
0   1  x  18  a
1   2  y  17  b
2   3  y  16  c
3   4  z  15  d
4   5  z  14  e
5   6  y  13  f
6   7  z  12  g

In [22]:
data = pd.DataFrame({'x1':range(10, 16),    # Create pandas DataFrame
                     'x2':[4, 3, 8, 3, 9, 8],
                     'x3':[5, 9, 5, 3, 4, 7],
                     'x4':['a', 'b', 'c', 'd', 'e', 'f']})
print(data)                                 # Print pandas DataFrame

   x1  x2  x3 x4
0  10   4   5  a
1  11   3   9  b
2  12   8   5  c
3  13   3   3  d
4  14   9   4  e
5  15   8   7  f

In [23]:
data.to_csv('data.csv', index = False)      # Export pandas DataFrame

In [24]:
data_import = pd.read_csv('data.csv',       # Read pandas DataFrame from CSV
                          skiprows = [1, 3, 5])
print(data_import)                          # Print imported pandas DataFrame

   x1  x2  x3 x4
0  11   3   9  b
1  13   3   3  d
2  15   8   7  f

In [25]:
data_import = pd.read_csv('data.csv',       # Read pandas DataFrame from CSV
                          skiprows = [1])
print(data_import)

   x1  x2  x3 x4
0  11   3   9  b
1  12   8   5  c
2  13   3   3  d
3  14   9   4  e
4  15   8   7  f

In [26]:
data = pd.DataFrame({'x3':range(201, 205),    # Create pandas DataFrame
                     'x2':range(3, 7),
                     'x4':['a', 'b', 'c', 'd'],
                     'x1':range(25, 21, - 1)})
print(data)                                   # Print pandas DataFrame

    x3  x2 x4  x1
0  201   3  a  25
1  202   4  b  24
2  203   5  c  23
3  204   6  d  22

In [27]:
data.to_csv('data1.csv')                      # Export pandas DataFrame

In [28]:
data.to_csv('data2.csv',                      # Export pandas DataFrame
            columns = ['x1', 'x2', 'x3', 'x4'])

In [29]:
data = pd.DataFrame({'x1':range(121, 127),    # Create pandas DataFrame
                     'x2':['a', 'b', 'c', 'd', 'e', 'f'],
                     'x3':range(41, 47),
                     'x4':[5, 5, 2, 9, 4, 7]})
print(data)                                   # Print pandas DataFrame

    x1 x2  x3  x4
0  121  a  41   5
1  122  b  42   5
2  123  c  43   2
3  124  d  44   9
4  125  e  45   4
5  126  f  46   7

In [30]:
data.to_csv('data.csv', index = False)        # Export pandas DataFrame to CSV

In [31]:
data_import = pd.read_csv('data.csv',         # Read pandas DataFrame from CSV
                          skiprows = 1,
                          names = ['col1', 'col2', 'col3', 'col4'])
print(data_import)                            # Print imported pandas DataFrame

   col1 col2  col3  col4
0   121    a    41     5
1   122    b    42     5
2   123    c    43     2
3   124    d    44     9
4   125    e    45     4
5   126    f    46     7

In [32]:
import csv

In [33]:
with open('data.csv', 'r') as f:          # Read lines separately
    reader = csv.reader(f, delimiter='t')
    for i, line in enumerate(reader):
        print(i, line)

0 ['x1,x2,x3,x4']
1 ['121,a,41,5']
2 ['122,b,42,5']
3 ['123,c,43,2']
4 ['124,d,44,9']
5 ['125,e,45,4']
6 ['126,f,46,7']